head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title   Привет, мир!

    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css css/main.css
    link(rel="stylesheet" href="css/style.css")
    // endbuild
